<a href="https://colab.research.google.com/github/retnozy-max/Data-1/blob/main/MENGUNDUH_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle

In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp kaggle.json ~/.kaggle

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets list

ref                                                        title                                            size  lastUpdated                 downloadCount  voteCount  usabilityRating
---------------------------------------------------------  -----------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
saidaminsaidaxmadov/chocolate-sales                        Chocolate Sales                                468320  2026-01-04 14:23:35.490000          19742        364  1.0
aliiihussain/amazon-sales-dataset                          Amazon_Sales_Dataset                          1297759  2026-02-01 11:37:12.353000           4904         88  1.0
aminasalamt/supply-chain-analysis-dataset                  Supply Chain Analysis Dataset                    9340  2026-02-10 12:15:16.010000            596         24  1.0
ayeshasiddiqa123/student-perfirmance                       Student Academic Performance Dataset.           96178  2026-01-06 12:08:32.540000           7533        143  1.0
sonalshinde123/work-from-home-employee-burnout-dataset     Work From Home Employee Burnout Dataset         27962  2026-01-31 03:28:22.227000           2481         62  1.0
ahsanneural/global-food-and-nutrition-database-2026        Global Food & Nutrition Database 2026         4441453  2026-02-12 00:54:36.960000            436         23  0.9411765
ashrafkhetran/the-movies-database-tmdb-1950-2025           The Movies database (TMDB) 1950-2025             4897  2026-02-09 05:35:40.533000           1251         27  1.0
ayeshaseherr/bmw-dataset                                   BMW Global Sales Dataset (2010–2024)           853340  2026-01-23 07:36:00.187000           1276         36  1.0
kanchana1990/food-ingredient-intelligence-database         Food Ingredient Intelligence Database          779460  2026-02-11 17:58:15.053000            303         26  1.0
rockyt07/social-media-user-analysis                        Social Media User Analysis                  247842357  2026-01-14 02:28:41.970000           9976        186  1.0
mafaqbhatti/grammy-award-winners-1959-2026                 Grammy Award Winners (1959-2026)                80531  2026-02-08 05:57:24.667000            306         22  1.0
malaklahyani/best-selling-books-20232025                   Best-Selling Books (2023–2025)                  30151  2026-01-30 18:58:59.590000           1636         21  0.7058824
dhrubangtalukdar/mercedes-global-car-sales-2020-2025       Mercedes Global Car Sales 2020-2025          93377423  2026-02-02 15:27:26.227000           1702         39  1.0
ashrafkhetran/imdb-movies-dataset-trends-and-eda-insights  IMDB Movies Dataset Trends & EDA Insights       42764  2026-02-06 08:01:42.253000            262         24  1.0
dhrubangtalukdar/cybersecurity-threat-detection-dataset    Cybersecurity Threat Detection Dataset         395243  2026-02-11 21:03:36.573000            430         31  1.0
rehanliaqat17/imbd-dataset                                 IMDB Dataset of 50K Movie Reviews            26962657  2026-02-02 13:58:39.763000            346         21  1.0
mohamedasak/fortune-500                                    Fortune 500 Companies Dataset                   21282  2026-02-13 01:45:56.360000            170         22  1.0
wardabilal/customer-shopping-behaviour-analysis            Customer Shopping Behaviour Analysis            67263  2026-01-25 05:50:56.253000           2012         39  1.0
tatheerabbas/car-price-classification-ready-data           car-price-classification-ready-data              8276  2026-02-05 13:39:39.350000            967         31  0.8235294
omarshahrukh/global-digital-id-usage-dataset               Global Digital ID Usage Dataset                  5174  2026-02-11 01:06:27.010000            392         24  1.0

In [ ]:
!kaggle datasets download -d 'saidaminsaidaxmadov/chocolate-sales'

Dataset URL: https://www.kaggle.com/datasets/saidaminsaidaxmadov/chocolate-sales
License(s): CC-BY-SA-4.0
Downloading chocolate-sales.zip to /content
  0% 0.00/457k [00:00<?, ?B/s]
100% 457k/457k [00:00<00:00, 868MB/s]

In [ ]:
import zipfile

In [ ]:
dataset_zip = zipfile.ZipFile('chocolate-sales.zip', 'r')

dataset_zip.extractall()

dataset_zip.close()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('CoklatSales.csv')

In [ ]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [ ]:
df.columns

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of           Sales Person    Country              Product        Date  \
0       Jehu Rudeforth         UK      Mint Chip Choco  04/01/2022
1          Van Tuxwell      India        85% Dark Bars  01/08/2022
2         Gigi Bohling      India  Peanut Butter Cubes  07/07/2022
3         Jan Morforth  Australia  Peanut Butter Cubes  27/04/2022
4       Jehu Rudeforth         UK  Peanut Butter Cubes  24/02/2022
...                ...        ...                  ...         ...
3277  Karlen McCaffrey  Australia  Spicy Special Slims  17/05/2024
3278    Jehu Rudeforth        USA           White Choc  07/06/2024
3279      Ches Bonnell     Canada  Organic Choco Syrup  26/07/2024
3280    Dotty Strutley      India              Eclairs  28/07/2024
3281  Karlen McCaffrey      India       70% Dark Bites  23/05/2024

          Amount  Boxes Shipped
0      $5,320.00            180
1      $7,896.00             94
2      $4,501.00             91
3     $12,726.00            342
4     $13,685.00            184
...          ...            ...
3277   $5,303.58            354
3278   $7,339.32            121
3279     $616.09            238
3280   $2,504.62            397
3281   $5,915.87            355

[3282 rows x 6 columns]>